@import "variables.scss";

:host {
  .cat-img {
    height: 500px;
    @include mobile() {
      height: 194px;
    }
    @include placeholder-bg-img() {
      @include desktop-up() {
        background-position: center;
      }
    }
    .overlay {
      @include overlay();
      display: flex;
      align-items: flex-end;
      padding: 1rem;
      color: $white;
      .cat-profile-short-info {
        display: flex;
        align-items: center;
        .cat-avatar {
          @include avatar();
        }

        h1 {
          margin-left: 1rem;
        }
      }
    }
  }

  section {
    max-width: 700px;
    margin: auto;
    line-height: 1.5;
    padding: 4rem 0;
    @include tablet() {
      padding: 3rem 1.5rem;
    }
    .description {
      font-size: 19px;
      @include tablet() {
        font-size: 16px;
      }
    }
  }
  h1 {
    margin: 0;
  }
}
