<div class="wrapper">
  <div class="cat-img" #catImg>
    <div class="overlay">
      <div class="cat-profile-short-info">
        <div class="cat-avatar" #catAvatar></div>
        <h1 *ngIf="cat">{{ cat.name }}</h1>
      </div>
    </div>
  </div>
  <section>
    <app-cat-info
    [dogFriendly]="cat.dog_friendly"
    [childFriendly]="cat.child_friendly"
    [lifeSpan]="cat.life_span"
    [origin]="cat.origin" *ngIf="cat"></app-cat-info>
    <p *ngIf="cat" class="description">{{ cat.description }}</p>
  </section>
</div>