@import "variables.scss";

:host {
  display: flex;
  align-items: flex-start;
  max-width: 250px;
  @include mobile() {
    max-width: unset;
  }
  mat-card {
    @include cursor-pointer();
    @include cursor-shadow();
    min-height: 300px;
    padding: 0;
    width: 100%;
    
    .cat-img {
      @include placeholder-bg-img();;
      height: 150px;
      .img-overlay {
        @include overlay();
        padding: 1rem;
        color: $white;
        display: flex;
        font-weight: bolder;
        align-items: flex-end;
        span {
          min-height: 19.2px;
          min-width: 10px;
        }
      }
    }
    .card-body {
      padding: 1rem;
      height: 150px;
      .description {
        font-size: $font-extra-small;
      }
    }
  }
}
