<mat-card (click)="goToCatDetail(cat.id)" *ngIf="cat">
  <div class="cat-img" [ngStyle]="{'background-image': 'url(' + url + ')'}">
    <div class="img-overlay">
      <span class="breed-name">{{ cat.name }}</span>
    </div>
  </div>
  <div class="card-body">
    <app-cat-info [lifeSpan]="cat.life_span" [origin]="cat.origin" [isVertical]="true"></app-cat-info>
    <p class="description">
      {{ getShortDescription(cat.description) }}
    </p>
  </div>
</mat-card>