<nav>
  <div class="brand-wrapper">
    <img src="assets/img/brand.png" alt="">
  </div>
  <div class="nav-content-wrapper">
    <span (click)="goTo('featured')">Featured</span>
    <span (click)="goTo('categories')">Categories</span>
  </div>
</nav>