@import "variables.scss";

:host {
  nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    .nav-content-wrapper {
      display: flex;
      align-items: center;
      span {
        margin: 0 1rem;
      }
      @include cursor-pointer();
    }
  }
}
