@import "variables.scss";
:host {
  div.welcoming {
    text-align: center;
    h2 {
      margin-bottom: 0;
    }
    p {
      margin: 0;
      font-size: $font-extra-small;
    }
  }
  .section-wrapper {
    margin: 0.5rem;
    .grid-wrapper {
      .mat-figure {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  .sub-header {
    padding: 1rem;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;

    @include shadow-1();
    mat-form-field {
      width: 100px;
      margin-right: auto;
    }
    span {
      @include cursor-pointer();
    }
  }
}
