<div class="welcoming">
  <h2>Explore the world.</h2>
  <p>Cats are a wonder of the world</p>
</div>
<div class="section-wrapper">
  <div class="featured-cats">
    <h3>Featured Cats!</h3>
    <div class="sub-header">
      <mat-form-field>
        <input matInput placeholder="Breeds displayed" type="number" [(ngModel)]="breedsDisplayed"
          (change)="getBreeds($event.path[0].value)">
      </mat-form-field>
      <span (click)="openFilters()">Filter <i class="fas fa-sliders-h"></i></span>
    </div>
    <div class="grid-wrapper">
      <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="350px">
        <mat-grid-tile *ngFor="let breed of displayBreeds; let i = index">
          <app-cat-card [cat]="breed" [catImg]="featuredImgUrls[i]"></app-cat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</div>