<mat-form-field>
  <input matInput placeholder="Filter by Breed Name" #breedName>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Filter by Origin" #origin>
</mat-form-field>

<button mat-raised-button (click)="submit(breedName.value, origin.value)">Filter!</button>