<div class="info" *ngIf="lifeSpan && origin" [ngClass]="{'flex-col': isVertical}">
  <div class="breed-info">
    <span class="title"> <i class="fas fa-clock"></i> Life span</span>
    <span class="value">{{ lifeSpan + ' years' }}</span>
  </div>
  <div class="breed-info">
    <span class="title"><i class="fas fa-globe-americas"></i> Origin</span>
    <span class="value">{{ origin }}</span>
  </div>
  <div class="breed-info" *ngIf="childFriendly">
    <span class="title"><i class="fas fa-child"></i> Child Friendly</span>
    <span class="value">{{ childFriendly + '/5' }}</span>
  </div>
  <div class="breed-info" *ngIf="dogFriendly">
    <span class="title"><i class="fas fa-dog"></i> Dog Friendly</span>
    <span class="value">{{ dogFriendly + '/5'}}</span>
  </div>
</div>