@import "variables.scss";

:host {
  .info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
    }
    .breed-info {
      display: flex;
      font-size: $font-extra-small;
      width: fit-content;
      margin: 0.2rem 0;
      @include mobile() {
        margin: 0.4rem 0;
      }
      .title {
        background-color: #ff3e3e;
        color: #fff;
        border-radius: 17px;
        padding: 5px 10px;
      }
      .value {
        padding: 5px 10px;
        color: #343434;
      }
    }
  }
}
