<div class="wrapper" (window:resize)="onResize($event)">
  <h2>Cats Categories!</h2>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="masonry-with-columns">
    <div *ngFor="let category of categories; let i = index" class="category"
      [style.background-image]="categoryImgs[i] ? categoryImgs[i].url : ''">
      <p>{{ category.name }}</p>
    </div>
  </div>
</div>