@import "variables.scss";

.wrapper {
  .category {
    @include placeholder-bg-img();
    display: flex;
    justify-content: center;
    align-items: center;

    // &:nth-child(2n) {
    //   height: 300px;
    // }
    // &:nth-child(3n) {
    //   height: 250px;
    // }
  }
  .category-collection {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(4, 1fr);
  }
  h2 {
    text-align: center;
  }
}

.masonry-with-columns {
  columns: 6 200px;
  column-gap: 1rem;
  div {
    width: 150px;
    background: #EC985A;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
  } 

  @for $i from 1 through 36 { 
    div:nth-child(#{$i}) {
      $h: (random(100) + 400) + px;
      height: $h;
    }
  }
}
