$white: #fff;

// Fonts
$font-extra-small: 12px;

@mixin background-image($file) {
  background-image: url("src/assets/img/"+$file);
  background-position: center;
  background-size: cover;
  @content;
}

@mixin placeholder-bg-img() {
  @include background-image('cat_img_placeholder.gif');
  @content;
}

@mixin overlay() {
  background: rgba(0, 0, 0, 0.5);
  height: -webkit-fill-available;
}

@mixin cursor-pointer() {
  &:hover {
    cursor: pointer;
  }
}

@mixin center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cursor-shadow() {
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@mixin shadow-1() {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// Mobile

@mixin mobile() {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 780px) {
    @content;
  }
}

@mixin desktop-up() {
  @media (min-width: 1440px) {
    @content;
  }
}

// SCSS Components
@mixin avatar() {
  @include placeholder-bg-img();
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid $white;
  @content;
}
