@import "variables.scss";

:host {
  .wrapper {
    @include background-image("landing_bg.jpg");
    height: 100vh;
    width: 100%;
    color: $white;
    .overlay {
      @include overlay();
      @include center-all();
      flex-direction: column;
      width: 100%;
      text-align: center;
      @include mobile() {
        h1 {
          margin: 1rem;
        }
      }
    }
  }
}
